.card-pai {
    margin-top: 20%;
    margin-bottom: 10%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-fotos {
    font-size: 35px;
    text-align: center;
    margin-bottom: 6%;
    text-transform: uppercase;
    color: #b7ada5;
}

.card-filho {
    width: 100%;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
}

.card img {
    width: 80%;
    height: 300px;
    border-radius: 20px;
    background-size: cover;
    background-position: 50% 50%;
    cursor: pointer;
    padding: 0 0 20px 10px;
    transition: 1s ;
}

.card img:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .text-fotos {
        font-size: 28px;
    }
}

@media screen and (max-width: 480px) {
    .card-pai {
        margin-bottom: 35%;
        margin-top: 35%;
    }

    .text-fotos {
        margin-bottom: 15%;
    }

    .card img {
        height: 250px;
        border-radius: 0;
    }
}

@media screen and (max-width: 400px) {
    .card-pai {
        margin-top: 70%;
        height: 120vh;
    }
}
