.hero {
  height: 100vh;
}

.imagem {
  background-image: linear-gradient(to bottom, rgba(30, 0, 77, 0.24), #004a5944), url("src/assets/epoxi-index.jpg");
  height: 96vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 0.9;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  display: flex;
  text-align: center;
  color: #fff6f6;
  line-height: 140%;
  max-width: 800px;
  font-size: 35px;
  font-weight: 700;
}

.button-contact {
  color: #fff;
  background-color:  #0d750d;
  margin-top: 3%;
  padding: 14px 28px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
}

.button-contact:hover {
  cursor: pointer;
  animation: scaleAnimation 0.8s alternate infinite;
}

@keyframes scaleAnimation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
  }
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 28px;
    margin: 0 10px;
  }
}
