.descriçao {
    margin-top: 10%;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-sobre {
    width: 100%;
    max-height: 900px;
    background: linear-gradient(to bottom, #065e06, #658f0ac4);
}

h2 {
    font-size: 35px;
    color: #f7ff07;
    margin-bottom: 15px;
    text-transform: uppercase;
    margin-left: 30px;
    margin-top: 30px;
}

p {
    font-size: 23px;
    font-weight: 700;
    line-height: 140%;
    margin: 30px;
    color: #000;
}


@media screen and (max-width: 768px) {
    p {
        font-size: 18px;
    }

    .descriçao {
        height: 70vh;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    h2 {
        font-size: 28px;
    }
}

@media screen and (max-width: 450px) {
    .descriçao {
        height: 103vh;
        margin-top: 20%;
        margin-bottom: 20%;
    }

    .card-sobre {
        max-height: 1200px;
    }
}

@media screen and (max-width: 400px) {
    .descriçao {
        margin-top: 50%;
    }
}

@media screen and (max-width: 350px) {
    .descriçao {
        height: 115vh;
        margin-top: 25%;
        margin-bottom: 25%;
    }
}


    

