.formulario {
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #004a59, #022437);
}

.formulario-card {
    max-height: 1100px;
    width: 40%;
    border-radius: 10px;
    background-color: #1e2024;
}

.title {
    font-size: 35px;
    text-align: center;
    margin-bottom: 2%;
}

.form {
    display: flex;
    flex-direction: column;
}

.input {
    height: 50px;
    max-width: 580px;
    margin: 15px;
}

label {
    display: flex;
    margin: 15px 0 0 15px;
    color: #fff;
    font-weight: 700;
}

.texterea {
    height: 130px;
    max-width: 580px;
    margin: 15px;
}

.button-form {
    height: 60px;
    width: 80%;
    border-radius: 10px;
    background-color: #2865b4;
    margin-top: 30px;
    margin-bottom: 35px;
    margin-left: 30px;
}

.button-form:hover {
    font-size: 40px;
}

@media screen and (max-width: 540px) {
    .formulario-card {
        width: 80%;
    }

    .title {
        font-size: 28px;
        margin-bottom: 15px;
    }
}
